@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,GRAD,ROND@6..144,1..1000,100,100&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    background-color: rgb(17, 17, 17);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
}

body {
    max-width: min(30rem, 90vw);
    font-family: 'Google Sans Flex', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2rem auto;
    background-color: rgb(24,24,24);
    border-radius: 1rem;
    font-weight: 400;
    box-shadow: 0px 0px 10px #8cffff;
    color: rgb(215, 246, 250);
    padding: 1.5rem 2rem;
}

h1 {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(239, 255, 251);
}

h2 {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color:rgb(239, 255, 255);
}

p {
    text-align: left;
}

#skip-to-content {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

#skip-to-content:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: #d8ffc6;
    color: black;
}

.transformations {
    max-width: 95%;
    border-radius: 0.7rem;
}
